PORT=
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Better Auth - OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_PLACES_API_KEY=

GEMINI_API_KEY=

# Unsplash
UNSPLASH_ACCESS_KEY=
UNSPLASH_SECRET_KEY=